# Env & secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual envs
venv/
.venv/
test_venv/

# OS / editors
.DS_Store
.idea/
.vscode/

# SQLite & data
data/*
!data/.gitkeep

# Logs
*.log

